<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 *ngIf="isCreateNew" id="jhi-device-heading-new" jhiTranslate="iotmanagerApp.device.home.createLabel">Create a Device</h2>
            <h2 *ngIf="!isCreateNew" id="jhi-device-heading-edit" jhiTranslate="iotmanagerApp.device.home.editLabel">Edit a Device</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="isCreateNew">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotmanagerApp.device.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotmanagerApp.device.serialNo" for="field_serialNo">Serial No</label>
                    <input type="text" class="form-control" name="serialNo" id="field_serialNo"
                           formControlName="serialNo"/>
                    <div *ngIf="editForm.get('serialNo')!.invalid && (editForm.get('serialNo')!.dirty || editForm.get('serialNo')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('serialNo')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('serialNo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }">
                            This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotmanagerApp.device.type" for="field_type">Type</label>
                    <span class="text-info" jhiTranslate="iotmanagerApp.device.hints.filterModels"> - use it to filter device models</span>
                    <select class="form-control" id="field_type" name="type" formControlName="typeId" [(ngModel)]="deviceTypeId" (ngModelChange)="filterDeviceModels()">
                        <option [ngValue]="deviceTypeOption.id" *ngFor="let deviceTypeOption of deviceTypes; trackBy: trackById" >{{ deviceTypeOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotmanagerApp.device.producer" for="field_producer">Producer</label>
                    <span class="text-info" jhiTranslate="iotmanagerApp.device.hints.filterModels"> - use it to filter device models</span>
                    <select class="form-control" id="field_producer" name="producer" formControlName="producerId" [(ngModel)]="deviceProducerId" (ngModelChange)="filterDeviceModels()">
                        <option [ngValue]="deviceProducerOption.id" *ngFor="let deviceProducerOption of deviceProducers; trackBy: trackById">{{ deviceProducerOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotmanagerApp.device.model" for="field_model">Model</label>
                    <select class="form-control" id="field_model" name="model" formControlName="modelId">
                        <option [ngValue]="deviceModelOption.id" *ngFor="let deviceModelOption of deviceModels; trackBy: trackById">{{ deviceModelOption.name }}</option>
                    </select>
                    <div *ngIf="editForm.get('modelId')!.invalid && (editForm.get('modelId')!.dirty || editForm.get('modelId')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('modelId')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                    <small class="form-text text-danger" *ngIf="deviceModels.length == 1" jhiTranslate="iotmanagerApp.device.hints.noModelsFound">
                        No models found. Try to change type or producer..
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotmanagerApp.device.site" for="field_site">Site</label>
                    <select class="form-control" id="field_site" name="site" formControlName="siteId">
                        <option [ngValue]="siteOption.id" *ngFor="let siteOption of sites; trackBy: trackById">{{ siteOption.name }}</option>
                    </select>
                    <div *ngIf="editForm.get('siteId')!.invalid && (editForm.get('siteId')!.dirty || editForm.get('siteId')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('siteId')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
