<div>
    <h2 id="page-heading">
        <span jhiTranslate="iotmanagerApp.deviceFault.home.title">Device Faults</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-device-fault" [routerLink]="['/device-fault/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="iotmanagerApp.deviceFault.home.createLabel">
            Create a new Device Fault
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="deviceFaults?.length === 0">
        <span jhiTranslate="iotmanagerApp.deviceFault.home.notFound">No deviceFaults found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="deviceFaults && deviceFaults.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="iotmanagerApp.deviceFault.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="iotmanagerApp.deviceFault.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="urgency"><span jhiTranslate="iotmanagerApp.deviceFault.urgency">Urgency</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deviceId"><span jhiTranslate="iotmanagerApp.deviceFault.device">Device</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deviceFault of deviceFaults ;trackBy: trackId">
                    <td><a [routerLink]="['/device-fault', deviceFault.id, 'view']">{{ deviceFault.id }}</a></td>
                    <td>{{ deviceFault.name }}</td>
                    <td>{{ deviceFault.description }}</td>
                    <td>{{ deviceFault.urgency }}</td>
                    <td>
                        <div *ngIf="deviceFault.deviceId">
                            <a [routerLink]="['/device', deviceFault.deviceId , 'view']" >{{ deviceFault.deviceId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/device-fault', deviceFault.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/device-fault', deviceFault.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(deviceFault)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="deviceFaults && deviceFaults.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
