<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="site">
            <h2><span jhiTranslate="iotmanagerApp.site.detail.title">Site</span> {{ site.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iotmanagerApp.site.name">Name</span></dt>
                <dd>
                    <span>{{ site.name }}</span>
                </dd>
                <dt><span jhiTranslate="iotmanagerApp.site.city">City</span></dt>
                <dd>
                    <span>{{ site.city }}</span>
                </dd>
                <dt><span jhiTranslate="iotmanagerApp.site.street">Street</span></dt>
                <dd>
                    <span>{{ site.street }}</span>
                </dd>
                <dt><span jhiTranslate="iotmanagerApp.site.streetNo">Street No</span></dt>
                <dd>
                    <span>{{ site.streetNo }}</span>
                </dd>
                <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="iotmanagerApp.site.user">User</span></dt>
                <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    {{ site.userId }}
                </dd>
            </dl>

            <dt id="jhi-delete-site-devices" jhiTranslate="iotmanagerApp.site.listOfDevices">Devices in this Site:</dt>
            <table *ngIf="site.devices && site.devices.length > 0" class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col"><span jhiTranslate="iotmanagerApp.device.name">Name</span></th>
                    <th scope="col"><span jhiTranslate="iotmanagerApp.device.serialNo">Serial No</span></th>
                    <th scope="col"><span jhiTranslate="iotmanagerApp.device.model">Model</span></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let device of site.devices">
                    <td><a [routerLink]="['/device', device.id, 'view']">{{ device.id }}</a></td>
                    <td>{{ device.name }}</td>
                    <td>{{ device.serialNo }}</td>
                    <td>{{ device.modelName }}</td>
                </tr>
                </tbody>
            </table>
            <div *ngIf="!site.devices || site.devices.length === 0" class="alert alert-warning" id="no-result">
                <span jhiTranslate="iotmanagerApp.device.home.notFound">No devices found</span>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/site', site.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
