<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="site">
            <h2><span jhiTranslate="iotmanagerApp.site.detail.title">Site</span> {{ site.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iotmanagerApp.site.name">Name</span></dt>
                <dd>
                    <span>{{ site.name }}</span>
                </dd>
                <dt><span jhiTranslate="iotmanagerApp.site.address">Address</span></dt>
                <dd>
                    <div *ngIf="site.addressId">
                        <a [routerLink]="['/address', site.addressId, 'view']">{{ site.addressId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="iotmanagerApp.site.user">User</span></dt>
                <dd>
                    {{ site.userId }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/site', site.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
